.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
*.jks
*.keystore
.idea/
.vscode/
*.swp
