# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
*.jks
*.keystore

# macOS
.metadata
# iOS
ios/Pods/

# IDE
.idea/
.vscode/
*.swp
